// ============================================================================
// Layout
// ============================================================================

// This is the basic template for all the pages.

// Header
// ----------------------------------------------------------------------------

$header-height:     $leading * 1.5;
$menu-breakpoint:   675px;

.banner {
  background: $white;
  box-shadow: 0 2px 0 rgba(black, .1);
  height: $header-height;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $z-index--banner;
}

.brand {
  float: left;
  padding: 6px 0 3px;

  svg {
    display: block;
    fill: $link-color;
    height: 36px;
    transition: fill $easing-base $timing-base;
    width: 90px;

    &:hover {
      fill: $link-hover-color;
    }
  }
}

// Primary nav
// ----------------------------------------------------------------------------

// Small screens
.nav-collapse {
  background: $gray-lighter;
  border-radius: 0 0 $border-radius-base $border-radius-base;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  top: -4px; // Why?
  width: 100%;

  .nav--item {
    border-top: 2px solid $gray-light;
    display: block;
    float: none;
    text-align: center;
    width: 100%;

    a:hover {
      background: $gray-light;
    }
  }

  .active a {
    color: $gray-darker;
  }

  .js & {
    clip: rect(0 0 0 0);
    display: block;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    zoom: 1;
  }

  &.opened {
    max-height: 9999px;
  }

  .nav--item:last-child a {
    svg {
      display: none;
    }
  }
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  @extend .btn;
  @extend .btn-primary;
  float: right;
  user-select: none;
  height: $header-height;
}

@include media(min-width $menu-breakpoint) {
  .js {
    .nav-collapse { position: relative; }
    .nav-collapse.closed { max-height: none; }
  }

  .nav-toggle { display: none; }

  // Pasted all this here
  .nav-primary {
    background: transparent;
    float: right;
    margin-right: $padding-horiz-base * -1;
    width: auto;

    .active a {
      color: $black;
    }

    .nav--item {
      float: left;
      width: auto;
    }

    // The NPL link
    // Make the text invisible and make the SVG absolute so it can cover over
    // the invisible text;
    .nav--item:last-child a {
      color: transparent;
      margin-left: $padding-horiz-base;
      overflow: hidden;
      text-indent: -9999px;
      transition: $timing-base $easing-base opacity;
      white-space: nowrap;
      width: 70px;

      svg {
        position: absolute;
        top: 0;
        display: block;
        height: 42px;
        width: 56px;
        fill: $link-color;
        transition: fill $timing-base $easing-base;

        &:hover {
          fill: $link-hover-color;
        }
      }
    }

    .nav--item.active:last-child a svg {
      fill: $black;
    }
  }
}


// Masthead
// ----------------------------------------------------------------------------

$masthead-color:    $color-secondary;

.masthead {
  background: {
    attachment: fixed;
    color: $masthead-color;
    image: url("../images/building-drawing.png");
    repeat: no-repeat;
    position: center -4em;
    size: 960px;
  }
  margin-top: $header-height;
  padding: ($leading * 3) 0;
  text-align: center;
  width: 100%;
}

.page-title {
  @include shadow-letters(darken($masthead-color, 24%), left, 6px);

  color: $white;
  margin: 0;
  line-height: 1;
}

.page-subtitle {
  animation-delay: .25s;
  margin: $leading 0 0;

  &.nav {
    display: inline-block;
  }
}

.page-subtitle--item {
  border-bottom: 2px solid transparent;
  color: $white;
  font-size: $font-size-sm;
  margin-bottom: 0;

  .nav--item & {
    &:hover {
      color: $white;
      border-bottom-color: $white;
    }
  }
}

// Content
// ----------------------------------------------------------------------------

.container {
  @include outer-container;
  padding-left: 1rem;
  padding-right: 1rem;
}

%readable-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.readable {
  margin: 0 auto;
  max-width: $readable-width;
}

.block {
  padding-top: $block-padding;
}

// Footer
// ----------------------------------------------------------------------------

.site-info {
  border-top: $border-width-base solid $gray-lighter;
  color: $gray-dark;
  margin-top: $leading * 2;
  padding: $leading 0;
  text-align: center;

  ul {
    font-size: $font-size-sm;
    margin: 0;
  }

  li:after {
    color: $gold-light;
    content: "+";
    display: inline-block;
    padding: 0 .75em;
  }

  li:last-child:after {
    content: "";
  }

  small {
    color: $gray;
  }
}
