// ============================================================================
// Neon Parrot Lounge styles
// ============================================================================

.neon-parrot-lounge {
  .masthead {
    background: {
      attachment: scroll;
      color: $black;
      image: url("../images/npl-bg.jpg");
      position: center top;
      size: cover;
    }
  }

  .page-title {
    @include shadow-letters($black, left, 6px);
  }
}

.npl--bird-logo .svg-npl {
  display: block;
  fill: $gold-light;
  margin: 0 auto;
}

// Events
// ----------------------------------------------------------------------------

.events-list {
  @extend .list-plain;
  @include row;
}

.event {
  @include span-columns(4);
  @include nth-omega(3n);
  background: white;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow-base;
  margin-bottom: $leading;

  @include media($screen-md-down) {
    @include omega-reset(3n);
    @include span-columns(6);
    @include nth-omega(2n);
  }

  @include media($screen-sm-down) {
    @include fill-parent;
    @include omega-reset(3n, auto);
    @include omega-reset(2n, auto);
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
  }
}

.event--header,
.event--when,
.event--description {
  padding: $padding-horiz-lg;
}

.event--header {
  background: $gray-lighter;
  border-bottom: 1px solid $gray-light;
  border-radius: $border-radius-base $border-radius-base 0 0;
  text-align: center;

  h3 {
    margin: 0;
  }
}

.event--when {
  @extend .list-plain;
  border-bottom: 1px solid $gray-light;
  color: $gold;
  text-align: center;

  @include media($screen-sm-down) {
    @include row;

    li {
      float: left;
      width: 50%;
    }
  }

  @include media($screen-xs-down) {
    font-size: $font-size-sm;
  }
}

.event--date {
  font-weight: $font-weight-bold;
}

.am-pm {
  text-transform: lowercase;
}

.event--description {
  color: $gray-dark;
  font-size: $font-size-sm;
  margin: 0;
}

.event--button {
  display: block;
  margin-top: $leading;

  @include media($screen-sm-up) {
  }
}
