// ============================================================================
// Notifications
// ============================================================================

.notification {
  background: $green-light;
  font-weight: $font-weight-bold;
  margin-bottom: $leading;
  padding: 0.5em 1em;
  text-align: center;
}

.browse-happy {
  z-index: $z-index--browse-happy;
  position: absolute;
  width: 100%;
}
