// ============================================================================
// Colors
// ============================================================================

// It's nice to use HSL in your CSS to make it easy to tweak the colors as you
// work without using an external graphics editing program.
// @source: http://rgb.to/

// Grays
$black:                 hsl(  0,  0%,  10%) !default;
$gray-darker:           hsl(  0,  0%,  20%) !default;
$gray-dark:             hsl(  0,  0%,  40%) !default;
$gray:                  hsl(  0,  0%,  70%) !default;
$gray-light:            hsl(  0,  0%,  90%) !default;
$gray-lighter:          hsl(  0,  0%,  95%) !default;
$white:                 hsl(  0,  0%, 100%) !default;

// Colors
$red:                   hsl(  2, 67%,  54%) !default;
$red-light:             hsl(  2, 67%,  90%) !default;
$red-lighter:           hsl(  2, 67%,  95%) !default;

$orange:                hsl( 23, 93%,  62%) !default;
$orange-light:          hsl( 23, 93%,  90%) !default;
$orange-lighter:        hsl( 23, 93%,  95%) !default;

$yellow:                hsl( 42, 90%,  64%) !default;
$yellow-light:          hsl( 42, 90%,  90%) !default;
$yellow-lighter:        hsl( 42, 90%,  95%) !default;

$green:                 hsl(168,  66%, 34%) !default;
$green-light:           hsl(168,  38%, 90%) !default;
$green-lighter:         hsl(168,  78%, 95%) !default;

$blue:                  hsl(205, 83%,  42%) !default;
$blue-light:            hsl(205, 83%,  90%) !default;
$blue-lighter:          hsl(205, 83%,  95%) !default;

$violet:                hsl(239, 35%,  56%) !default;
$violet-light:          hsl(239, 35%,  90%) !default;
$violet-lighter:        hsl(239, 35%,  95%) !default;

$gold:                  hsl( 36, 28%,  51%) !default;
$gold-light:            hsl( 36, 28%,  85%) !default;


// Abstractions
$color-primary:         $green !default;
$color-secondary:       $gold !default;
