// ============================================================================
// Grid Settings
// ============================================================================

// Variables for Bourbon Neat grids
// If $column is set to a relative value, the grid will be fluid.
// @source: http://neat.bourbon.io/docs/#variables

$max-width:                 u(960px, em);
$grid-columns:              12;
$column:                    golden-ratio(1%, 3);
$gutter:                    golden-ratio(1%, 1);

// Grid options
$default-layout-direction:  LTR;
$include-grid-classes:      false;
